# Credenciales Supabase - copia este archivo a .env y rellena tus valores
DB_PASSWORD=
DB_URL=jdbc:postgresql://aws-0-eu-central-1.pooler.supabase.com:5432/postgres
DB_USERNAME=postgres.qyaksttkdhdffsbhdgur